@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

button {
    outline: none;
    background: none;
    padding: 1rem;
    margin-inline: 0.5rem;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rebeccapurple;
    color: white;
}

a{
    color: inherit;
    text-decoration: underline;
    text-align: center;
}